@use '../base/variables' as var;

.header {
    height: 50px;
    background-color: var.$squidink;

    &__content {
        width: calc(100% - 100px);
        height: 100%;
        margin: 0px auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: var.$squidink;

    &__content {
        width: calc(100% - 100px);
        height: 100%;
        margin: 0px auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

