@use '../base/variables' as var;

.image-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    width: calc(100% - 100px);
    margin: 0px auto 20px auto;

    &__image-holder {
        cursor: pointer;
        position: relative;
        display: inline-block;

        &:hover {
            box-shadow: var.$hovshadow;
        }
    }

    &__image-link {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    &__image-caption {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        height: 30px;
        width: 30px;
        left: 0;
        bottom: 4px;
        right: 0;
        background-color: rgba(0, 0, 0, 0.5);
       
        .is-favourite {
            color: red;
        }
    }
}

.fallback-image-holder {
    width: calc(100% - 100px);
    margin: 0px auto;

    img {
        width: 350px;
    }
}


