@use '../base/variables' as var;
@use '../base/breakpoints' as bp;

.image-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    width: calc(100% - 100px);
    margin: 0px auto 20px auto;
   
    @include bp.md {
        grid-template-columns: repeat(3, 1fr);
    }

    @include bp.sm {
        width: calc(100% - 30px);
        grid-gap: 10px;
        grid-template-columns: repeat(2, 1fr);
    }

    @include bp.xs {
        grid-template-columns: repeat(1, 1fr);
    }

    &__image-holder {
        cursor: pointer;
        position: relative;
        display: inline-block;
    }

    &__view-wrapper {
        position: relative;
        display: inline-block;
        width: 100%;
        &:hover {
            &::after {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                display: flex;
                align-items: center;
                justify-content: center;
                width: 50%;
                height: 20%;
                content: 'View Details';
                text-align: center;
                color: var.$white;
                background-color: var.$bismark; 
            }
        }

        &:hover .image-list__image-link {
            opacity: 0.2;
        }
    }

    &__image-link {
        position: relative;
        width: 100%;
        height: 200px;
        object-fit: cover;
        &:hover {
            opacity: 0.2;
        }
    }

    &__image-caption {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        height: 30px;
        width: 30px;
        left: 0;
        bottom: 4px;
        right: 0;
        background-color: rgba(0, 0, 0, 0.5);
       
        .is-favourite {
            color: red;
        }
    }
}

.fallback-image-holder {
    width: calc(100% - 100px);
    margin: 0px auto;

    img {
        width: 350px;
    }
}

