@use '../base/variables' as var;
.loader {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;

    &__wave {
        width: 5px;
        height: 100px;
        background: linear-gradient(45deg, var.$bismark, #fff);
        margin: 10px;
        animation: wave 1s linear infinite;
        border-radius: 20px;

        @for $i from 0 to 10 {
            &:nth-child(#{$i + 1}) {
                animation-delay: #{$i * .1}s;
            }
        }

        @keyframes wave {
            0% {
              transform: scale(0);
            }
            50% {
              transform: scale(1);
            }
            100% {
              transform: scale(0);
            }
        }
    }
}
  
  
  