.search {
    width: calc(100% - 100px);
    margin: 30px auto 40px auto;
    display: flex;
    justify-content: space-between;
    color: #fff;
    background-color: #2b3743;
    height: 40px;
    border-radius: 5px;

    &__input {
        width: calc(100% - 40px);
        border: none;
        background-color: #2b3743;
        color: #fff;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px; 

        &:focus {
            outline: none;
        }
    }

    &__icon {
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            width: 13px;
            height: 13px; 
        }
    }
}

// .search__input {
//     width: calc(100% - 40px);
//     border: none;
//     background-color: #2b3743;
//     color: #fff;
//     border-top-right-radius: 5px;
//     border-bottom-right-radius: 5px;
// }

// .search__input:focus {
//     outline: none;
// }

// .search__icon {
//     width: 40px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
// }


// .search__icon svg {
//     width: 13px;
//     height: 13px;
// }