@use '../base/breakpoints' as bp;
.sort-by-date {
    position: relative;
    
    &__name {
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 0px;
        margin-right: 0px;

        .fa-sort {
            margin-left: 10px;
        }
    }
    
    .dropdown {
        margin: 5px 0px 0px 0px;
    }
}



