@use '../base/variables' as var;

.image-details {
    width: calc(100% - 100px);
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    color: var.$platinum;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;

    .back-btn {
        margin: 20px 0px;
    }

    a {
        color: var.$white;
        text-decoration: none;
    }

    &__main-content {
        display: flex;
    }
    
    &__img {
        width: 35%;
    }
    
    &__text {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin-left: 20px;
    }
    
    &__image-properties {
        display: flex;
        flex-direction: column;
    }
        
    &__item {
        margin: 5px 0px;
    }
}





